@model IEnumerable<_33.Models.Question>

@{
    ViewBag.Title = "Questions";
}

<h2>Questions</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Show questions without answer", "NotAnswered")
</p>
<table class="tablesorter" width="100%">
    <tr>
        <th width="2%">
           @Html.DisplayNameFor(model => model.QuestionId)
        </th>
        <th width="40%">
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th width="40%">
            @Html.DisplayNameFor(model => model.Answer)
        </th>
        <th width="8%">
            @Html.DisplayNameFor(model => model.DateAnswered)
        </th>
        <th width="10%"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="centered">
            @Html.ActionLink(item.QuestionId.ToString(), "Edit", new { id = item.QuestionId })
        </td>
        <td>
            @Html.Raw(item.Content == null ? "" : item.Content.Replace("\n", "<br/>"))
        </td>
        <td>
            @Html.Raw(item.Answer == null ? "" : item.Answer.Replace("\n", "<br/>"))
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAnswered)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.QuestionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.QuestionId })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Show questions without answer", "NotAnswered")
</p>