@model _33.Models.CodeReview

@{
    ViewBag.Title = "Fix";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CodeReview</legend>

        @Html.HiddenFor(model => model.CodeReviewId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Comment)
        </div>
        <div class="editor-field">
            @Html.DisplayTextFor(model => model.Comment)
            @Html.ValidationMessageFor(model => model.Comment)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ActionDone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ActionDone)
            @Html.ValidationMessageFor(model => model.ActionDone)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
